.about-me {
	margin: 20px 15px 0 15px;
	@media screen and (min-width: 900px) {
		margin: 70px 40px 0 60px;
	}
	.title {
		display: flex;
		align-items: center;
		padding: 0;
		@media screen and (min-width: 900px) {
			padding: 0 4em;
		}
	}
}
