@import "FluidType";

.experience {
	padding: 20px;
	@include fluid-type(margin, 900px, 1200px, 20px 15px 0 15px, 0px 40px 0 60px);
	.title {
		display: flex;
		align-items: center;
		@include fluid-type(padding, 900px, 1200px, 0 0, 0 4em);
	}

	.title::before {
		background-color: #e1f2f7dd;
		content: "";
		flex: 1;
		height: 1px;
		margin-right: 1rem;
		background-color: #e1f2f7dd;
	}
	.timeline-area {
		@include fluid-type(margin, 900px, 1200px, 5em 0, 90px 80px 0 80px);
		@include fluid-type(border-left, 900px, 1200px, none, 2px solid #cacbd9ff);
		@include fluid-type(padding, 900px, 1200px, 0, 0 0 0 70px);
	}
}
