html, .page{
    background-color: #01152e;
	margin: 0;
	color: #e1f2f7;
}

.content-container {
	max-width: 1400px; /* Adjust this value as needed */
	margin: 0 auto; /* Center the content */
	padding: 0 20px; /* Optional padding for spacing */
}
