body {
	margin: 0 !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background-color: #00060d;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

$lavender-gray: #cacbd9ff;
$baby-blue-eyes: #a2bbfaff;
$light-blue: #0477bf;
$blue: #0455bf;
$dark-blue: #023059;
$darker-blue: #022145;
$black-blue: #00060d;
